svg {
    border: 10px solid black;
    transform: scale(2);
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: black;
    font-weight: 900;
    font-size: 50px;
}

p {
    font-weight: 900;
    font-size: 30px;
}

input {
    padding: 8px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 300px;
}

button {
    width: 100px;
    padding: 10px;
    color: white;
    background: black;
    border: none;
    border-radius: 30px;
}

.wrap {
    text-align: center;
    width: 100%;
    /* height: 30%; */
    height: 50%;
    background-color: lightblue;
}

.svg__wrap {
    background-color: grey;
    width: 100%;
    /* height: 70%; */
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    svg {
        transform: scale(1);
    }

    button {
        margin-top: 30px;
    }
}

@media (max-width: 2000px) {
    svg {
        transform: scale(1);
    }
}